In [7]:
import sys
sys.path.append("..")

from sarimaCV import cross_validation
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [5]:
import statsmodels.api as sm

# Load the dataset
dataset = sm.datasets.co2.load_pandas()
co2_data = dataset.data

In [10]:
results = cross_validation(
    co2_data["co2"], 
    max_p=3, 
    max_d=1, 
    max_q=3, 
    max_P=1, 
    max_D=1, 
    max_Q=1, 
    s=12, 
    n_folds=3, 
    recursive=False, 
    forecast_size=3, 
    n_cores=-1, 
    max_runtime=60
)

results

Max runtime exceeded. Cancelling remaining tasks can take up to 1-2 mins.

                 Order    AVG RMSE
5   (0, 0, 0, 0, 1, 1)    1.222867
8   (0, 0, 0, 1, 1, 1)    1.491584
6   (0, 0, 1, 0, 1, 0)    1.985306
3   (0, 0, 0, 1, 1, 0)    2.143431
1   (0, 0, 0, 0, 1, 0)    2.259462
7   (0, 0, 0, 1, 0, 0)    2.266398
10  (0, 0, 1, 0, 0, 1)  163.957619
4   (0, 0, 0, 0, 0, 1)  190.065842
9   (0, 0, 2, 0, 0, 0)  262.744597
2   (0, 0, 1, 0, 0, 0)  320.686068
0   (0, 0, 0, 0, 0, 0)  370.289012