In [4]:
import sys
sys.path.append("..")

from sarimaCV import cross_validation
import pandas as pd
import statsmodels.api as sm

In [3]:
import statsmodels.api as sm

# Load the dataset
dataset = sm.datasets.co2.load_pandas()
co2_data = dataset.data

              co2
1958-03-29  316.1
1958-04-05  317.3
1958-04-12  317.6
1958-04-19  317.5
1958-04-26  316.4
...           ...
2001-12-01  370.3
2001-12-08  370.8
2001-12-15  371.2
2001-12-22  371.3
2001-12-29  371.5

[2284 rows x 1 columns]

In [6]:
results = cross_validation(
    co2_data["co2"], 
    max_p=3, 
    max_d=1, 
    max_q=3, 
    max_P=1, 
    max_D=1, 
    max_Q=1, 
    s=12, 
    n_folds=5, 
    recursive=False, 
    forecast_size=3, 
    n_cores=-1, 
    max_runtime=120
)

results

Max runtime exceeded. Cancelling remaining tasks will take a few seconds.

                Order        RMSE
5  (0, 0, 0, 0, 1, 1)    1.941871
3  (0, 0, 0, 1, 1, 0)    2.751115
1  (0, 0, 0, 0, 1, 0)    2.792759
4  (0, 0, 0, 0, 0, 1)  188.130309
2  (0, 0, 1, 0, 0, 0)  319.868300
0  (0, 0, 0, 0, 0, 0)  369.306805