In [1]:
import sys
sys.path.append("..")

from sarimaCV import cross_validation
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Load the dataset
dataset = sm.datasets.co2.load_pandas()
co2_data = dataset.data

In [11]:
results = cross_validation(
    np.array(co2_data["co2"]), 
    max_p=1, 
    max_d=1, 
    max_q=1, 
    max_P=1, 
    max_D=1, 
    max_Q=1, 
    s=2, 
    n_folds=3, 
    recursive=True, 
    forecast_size=3, 
    n_cores=-1
)

results

                 Order    AVG RMSE
30  (0, 1, 1, 1, 1, 0)    0.324056
54  (1, 1, 0, 1, 1, 0)    0.327243
62  (1, 1, 1, 1, 1, 0)    0.327551
38  (1, 0, 0, 1, 1, 0)    0.331112
46  (1, 0, 1, 1, 1, 0)    0.332337
..                 ...         ...
13  (0, 0, 1, 1, 0, 1)   39.632997
9   (0, 0, 1, 0, 0, 1)  201.220112
1   (0, 0, 0, 0, 0, 1)  262.741145
8   (0, 0, 1, 0, 0, 0)  320.686037
0   (0, 0, 0, 0, 0, 0)  370.289012

[64 rows x 2 columns]